# Data cleansing in Python practical example 3

#### . Working with Text Data
#### . Split A Column Into Multiple Columns
#### . Joining Two Columns
#### . Removing Words,Expression
#### . Searching for strings And Expressions
#### . Replacing words

In [1]:
#load packages
import numpy as np
import pandas as pd

In [4]:
# load dataset
df = pd.read_csv("C:\\Users\\user\\Desktop\\python files\\dataset (3).csv")

In [5]:
df.head()

,id,Full Name,Date of Birth,email,gender,Job,Company,Country,Salary,Phone,Quote,Income,Income.1
0,1,Salim Pound,2/12/2018,spound0@spotify.com,Male,Editor,Gigashots,Israel,19QtDp5HkyuZZqwwqzYPSSLuA7MXFCwfKL,610-741-3882,Compatible discrete leverage,46476.638080,$46476.6380809961
1,2,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,VP Marketing,Wikivu,Mongolia,17ADLE8HiTj7m1tTbzboLDn7eiZ4TjetzZ,221-725-8860,Grass-roots real-time algorithm,54174.687950,$54174.6879482406
2,3,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Associate Professor,Dabfeed,Vietnam,16ThVxH72YAXWiEBeBZB1WYtXcfJMwUtoB,303-720-8280,Innovative system-worthy definition,5449.873348,$5449.87334818567
3,4,Graeme Croisier,9/29/2018,gcroisier3@parallels.com,Male,Mechanical Systems Engineer,Trudoo,Bosnia and Herzegovina,1JLUVwmjHvxgh53C7Afie3pWbjrYxV9Fnx,673-794-9917,Customer-focused didactic extranet,46784.630880,$46784.6308786279
4,5,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Account Executive,Buzzshare,China,1DaEUNoAWL68pnvThSM5eBYgQMTv9mKyFG,709-146-6263,Progressive dynamic model,57486.495560,$57486.4955595568

In [6]:
df.columns

Index(['id', 'Full Name', 'Date of Birth', 'email', 'gender', 'Job', 'Company',
       'Country', 'Salary', 'Phone', 'Quote', 'Income', 'Income.1'],
      dtype='object')

In [7]:
df.columns.str.lower()

Index(['id', 'full name', 'date of birth', 'email', 'gender', 'job', 'company',
       'country', 'salary', 'phone', 'quote', 'income', 'income.1'],
      dtype='object')

In [8]:
df.columns = df.columns.str.upper()

In [12]:
df.columns

Index(['id', 'full name', 'date of birth', 'email', 'gender', 'job', 'company',
       'country', 'salary', 'phone', 'quote', 'income', 'income.1'],
      dtype='object')

##### Renaming

In [14]:
df.rename(columns={'fullname': 'full_name','date of birth': 'date_of_birth'})

,id,full name,date_of_birth,email,gender,job,company,country,salary,phone,quote,income,income.1
0,1,Salim Pound,2/12/2018,spound0@spotify.com,Male,Editor,Gigashots,Israel,19QtDp5HkyuZZqwwqzYPSSLuA7MXFCwfKL,610-741-3882,Compatible discrete leverage,46476.638080,$46476.6380809961
1,2,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,VP Marketing,Wikivu,Mongolia,17ADLE8HiTj7m1tTbzboLDn7eiZ4TjetzZ,221-725-8860,Grass-roots real-time algorithm,54174.687950,$54174.6879482406
2,3,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Associate Professor,Dabfeed,Vietnam,16ThVxH72YAXWiEBeBZB1WYtXcfJMwUtoB,303-720-8280,Innovative system-worthy definition,5449.873348,$5449.87334818567
3,4,Graeme Croisier,9/29/2018,gcroisier3@parallels.com,Male,Mechanical Systems Engineer,Trudoo,Bosnia and Herzegovina,1JLUVwmjHvxgh53C7Afie3pWbjrYxV9Fnx,673-794-9917,Customer-focused didactic extranet,46784.630880,$46784.6308786279
4,5,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Account Executive,Buzzshare,China,1DaEUNoAWL68pnvThSM5eBYgQMTv9mKyFG,709-146-6263,Progressive dynamic model,57486.495560,$57486.4955595568
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Willie Gravestone,1/17/2018,wgravestonern@typepad.com,Female,Junior Executive,Cogilith,China,1NhweMA6xVPvFfYyQfRvusazTkMvuP8kap,717-137-5667,Automated content-based superstructure,33868.404190,$33868.4041871395
996,997,Samara McRitchie,12/10/2018,smcritchiero@wikispaces.com,Female,Media Manager II,Edgewire,Philippines,1t9C9e457Z6efZCZ46Ywm84Xgw79WEBW9,583-849-4461,Proactive content-based throughput,46290.780360,$46290.7803582873
997,998,Joceline Josefowicz,10/18/2018,jjosefowiczrp@statcounter.com,Female,Design Engineer,Mynte,Puerto Rico,13pFvvCyTz5AFNhk7ugp9G6aYA89wVJFns,934-388-0702,Phased transitional monitoring,24202.032530,$24202.0325327311
998,999,Andrei Lestor,1/16/2018,alestorrq@storify.com,Female,Senior Editor,Reallinks,China,1CTz1ejJhKvKUvV7tMgQ97wCguJpRAVZan,706-201-1239,Organic dynamic strategy,54316.293830,$54316.2938322092
999,1000,Nikkie Langtry,10/30/2018,nlangtryrr@sciencedaily.com,Female,Financial Advisor,Linklinks,Armenia,1JFRCVhkbkR9TFrS2RKezc7HKoteeUHzR,612-915-7537,Managed solution-oriented implementation,56477.000000,$56477

##### if you go back to check you will see that the column did not change as seen below with 'df.column

In [25]:
df.columns

Index(['id', 'full name', 'date_of_birth', 'email', 'gender', 'job', 'company',
       'country', 'salary', 'phone', 'quote', 'income', 'income.1'],
      dtype='object')

##### Hence, we will need to use the function (inplace=True) to corect it

In [32]:
df.rename(columns={'full name': 'full_name','date of birth': 'date_of_birth'},inplace=True)

In [33]:
df.columns

Index(['id', 'full_name', 'date_of_birth', 'email', 'gender', 'job', 'company',
       'country', 'salary', 'phone', 'quote', 'income', 'income.1'],
      dtype='object')

### Splitting columns into multiples:

In [34]:
# method 1
df.full_name

0              Salim Pound
1           Madelene Lutas
2         Dolli Swanbourne
3          Graeme Croisier
4           Jillana Physic
              ...
995      Willie Gravestone
996       Samara McRitchie
997    Joceline Josefowicz
998          Andrei Lestor
999         Nikkie Langtry
Name: full_name, Length: 1000, dtype: object

In [35]:
df.full_name.str.split("")

0                  [, S, a, l, i, m,  , P, o, u, n, d, ]
1         [, M, a, d, e, l, e, n, e,  , L, u, t, a, s, ]
2      [, D, o, l, l, i,  , S, w, a, n, b, o, u, r, n...
3      [, G, r, a, e, m, e,  , C, r, o, i, s, i, e, r, ]
4         [, J, i, l, l, a, n, a,  , P, h, y, s, i, c, ]
                             ...
995    [, W, i, l, l, i, e,  , G, r, a, v, e, s, t, o...
996    [, S, a, m, a, r, a,  , M, c, R, i, t, c, h, i...
997    [, J, o, c, e, l, i, n, e,  , J, o, s, e, f, o...
998          [, A, n, d, r, e, i,  , L, e, s, t, o, r, ]
999       [, N, i, k, k, i, e,  , L, a, n, g, t, r, y, ]
Name: full_name, Length: 1000, dtype: object